/* --- GENERAL ---*/
h1, h2, h3, h4 {
    font-family: "Roboto Condensed", sans-serif !important;
    font-weight: 500 !important;
}
  
p, span, a {
    font-family: "Titillium Web", sans-serif !important; 
}

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important; 
    height: 100vh;
}

.header {
    height: 100vh;
    background-color: #F9F9F9;
}

/* --- NAVBAR ---*/

.navbar-custom {
    background-color: #2D3047;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FBF5F3;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #FBF5F3
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FFFD82;
}

.hover-underline-menu .menu a {
    color: #FBF5F3;
}

.hover-underline-menu .menu .underline-from-center {
    position: relative; 
}

.hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    border-bottom: 0.125rem solid #FFFD82;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar i {
    color: #FBF5F3;
}

/* --- CONTENT --- */

body {
    background: #F9F9F9;
}

.header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 80%;
    width: 80%;
    margin: 0 auto;
}

.header .header-content h1 {
    font-size: 200px;
    color: #19A375;
}

.header .header-content h3 {
    color: #2D3047;
}

.header .header-content a {
    color: #19A375;
}

.header .header-content .button-return-to-home {
    background-color: #2D3047;
    border-color: #2D3047;
    font-family: "Titillium Web", sans-serif !important;
}