/* --- GENERAL ---*/
h1, h2, h3, h4, th {
    font-family: "Roboto Condensed", sans-serif !important;
    font-weight: 500 !important;
}
  
p, span, a, td {
    font-family: "Titillium Web", sans-serif !important; 
}

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important; 
    height: 100vh;
}

/* --- NAVBAR & HEADER ---*/

/* navbar custom */
.navbar-custom {
    background-color: #2D3047;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FBF5F3;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #FBF5F3
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FFFD82;
}

.hover-underline-menu .menu a {
    color: #FBF5F3;
}

.hover-underline-menu .menu .underline-from-center {
    position: relative; 
}

.hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    border-bottom: 0.125rem solid #FFFD82;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .navbar-toggler i {
    color: #FBF5F3;
}

/* --- MONITORING --- */
.nav-pills .nav-link{
	border-radius: 2px;
	color: #2d3047;
	transition: color .2s ease-out, box-shadow .2s;
}
.nav-pills .nav-item {
	margin: 0 5px;
}
.nav-pills.pills-dark .nav-link.active {
	background-color: #19a375 !important;
}
.nav-pills.pills-dark .nav-link:not(.active):hover {
	color: #1d1e22;
}

.currency-converter {
	width: 250px;
	padding-right: 1rem;
}

thead {
	background-color: #2D3047;
	color: white;
}

#mf_table_monitoring a, #uitf_table_monitoring a {
	color: #19a375;
}

th {
	font-weight: bolder;
}

.modal-body h1, .modal-body h3, .modal-header h4 {
	color: #19a375;
}

.table-monitoring {
	padding-top: 20px;
}

.mobile-tablet-visible {
	visibility: hidden;
}

.convert {
	margin-bottom: 30px;
}

.currencies-select{
	text-transform: uppercase;
}

/* --- MOBILE RESPONSIVE ADJUSTMENTS --- */
@media (max-width: 1024px) {
    .currency-converter {
    	max-width: 100%;
    	padding-left: 1rem;
    }
    
    .currencies-select, .philippine-convert {
    	margin-top: 10px;
    }
    
    .container-fluid{
    	margin-top: 35px;
    }
}

/* @media (max-width: 768px) {
    .currency-converter {
    	padding-right: 0px;
    }
} */

@media (max-width: 425px) {
    .mobile-tablet-visible {
		visibility: visible;
	}
	.desktop-visible {
		visibility: hidden;
	}
}